.container {
    max-width: 1140px;
    margin: auto;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
    font-weight: 700;
}

.coin-name {
    margin-left: -4rem;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #26272b;
    box-shadow: 0px 0px 12px #18191b;
    border-radius: 8px;
    margin: 2rem 1rem;
    padding: .7rem 1rem;
}

.coin-row:hover {
    transform: scale(1.04);
    transition: .3s ease-in-out;
    cursor: pointer;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}


.search-input {
    width: 100%;
    padding: 0.8rem 1rem;
    margin: 1rem 0;
    border-radius: 8px;
    border: 1px solid #6900ff;
    font-size: 1rem;
    background-color: #1e1e1e;
    color: #f4f4f4;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

.search-input::placeholder {
    color: #888;
}

.search-input:focus {
    border-color: #6900ff;
    background-color: #2b2b2b;
    outline: none;
}

@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
}
